
category_encoders
certifi
cffi
charset-normalizer
click
cloudpathlib
distro
Django
django-cors-headers
dnspython
et_xmlfile
fancyimpute
filelock
Flask
Flask-Cors
Flask-PyMongo
fonttools
git-filter-repo
gitdb
GitPython
gunicorn
gspread
highcharts-core
httpcore
httplib2
httpx
Jinja2
language_data
matplotlib
numpy
packaging
pandas
pillow
plotly
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pydyf
pygame
Pygments
pymongo
pyparsing
pypdfium2
pyphen
python-dateutil
python-dotenv
python-http-client
python-Levenshtein
scikit-learn
seaborn
sendgrid
tensorflow
typer
typing_extensions
weasyprint

