aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
attrs
blinker
blis
Brotli
cachetools
catalogue
category_encoders
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cryptography
cssselect2
cycler
cymem
distro
Django
django-cors-headers
dnspython
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
esprima
et_xmlfile
fancyimpute
filelock
Flask
Flask-Cors
Flask-PyMongo
fonttools
fpdf
frozenlist
fsspec
fuzzywuzzy
git-filter-repo
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gunicorn
gspread
h11
highcharts-core
httpcore
httplib2
httpx
huggingface-hub
idna
itsdangerous
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
kiwisolver
langcodes
language_data
Levenshtein
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
murmurhash
narwhals
networkx
numpy
oauthlib
openai
opencv-contrib-python
opencv-python
openpyxl
packaging
pandas
patsy
pdfkit
pdfminer.six
pdfplumber
pillow
plotly
preshed
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pydyf
pygame
Pygments
pymongo
pyparsing
pypdfium2
pyphen
python-dateutil
python-dotenv
python-http-client
python-Levenshtein
pytz
PyYAML
RapidFuzz
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
sendgrid
shellingham
six
smart-open
smmap
sniffio
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
starkbank-ecdsa
statsmodels
streamlit
sympy
tenacity
tensorflow
thinc
threadpoolctl
tinycss2
tinyhtml5
tokenizers
toml
torch
tornado
tqdm
transformers
typer
typing_extensions
tzdata
uritemplate
urllib3
validator-collection
wasabi
watchdog
weasel
weasyprint
webencodings
Werkzeug
wrapt
yarl
zopfli
