<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handle MV</title>
    <link rel="icon" href="static/IMG/NEATD.png">
    <link rel="stylesheet" href="static\MV.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="split-container">
<!-- Information Section -->
<div class="info-section">
    <h2>About Handling Missing Values</h2>
    <p>
        Missing data is a common challenge in data analysis. This tool allows you to efficiently handle missing values by 
        offering a variety of solutions and advanced techniques. Whether you want to visualize missing data patterns, 
        delete unwanted rows or columns, or impute missing values with sophisticated methods, this tool has got you covered.
    </p>
    <p>
        You can explore the following functionalities:
    </p>
    <ul>
        <li><strong>Visualize Missing Data:</strong> Get a clear view of missing values with customizable plots that highlight patterns and distributions.</li>
        <li><strong>Imputation Techniques:</strong> Choose from advanced imputation methods like K-Nearest Neighbors (KNN), Multiple Imputation by Chained Equations (MICE), and more.</li>
        <li><strong>Data Cleaning:</strong> Remove or replace rows and columns with missing values, tailored to your specific analysis needs.</li>
        <li><strong>Save Cleaned Data:</strong> After processing, you can easily save the cleaned and imputed dataset for further use.</li>
    </ul>
    <h3>Imputation Techniques Explained</h3>
    <p>
        <strong>K-Nearest Neighbors (KNN):</strong> A machine learning technique that imputes missing values based on the closest data points, improving accuracy by considering the relationships in the data.
    </p>
    <p>
        <strong>Multiple Imputation by Chained Equations (MICE):</strong> A more advanced approach that creates multiple imputations based on the relationships between variables, allowing for a more accurate representation of uncertainty in missing data.
    </p>
    <p>
        <strong>Mean/Median Imputation:</strong> Simple but effective for numerical data, replacing missing values with the mean or median of the available values.
    </p>
    <p>
        <strong>Forward/Backward Filling:</strong> A technique commonly used in time series, where missing values are imputed based on the previous (or next) available value.
    </p>
    <button id="toggleTechniques" class="btn-toggle">Discover More Techniques!</button>
    <div id="additionalTechniques" class="additional-techniques" style="display:none;">
        <p><strong>Advanced Imputation Methods:</strong></p>
        <ul>
            <li><strong>Regression Imputation:</strong> Predict missing data using regression models.</li>
            <li><strong>Interpolation:</strong> Estimate values based on neighboring data points.</li>
        </ul>
    </div>
</div>



        <!-- Missing Values Functionality Section -->
        <div class="functionality-section">
            <h3>Upload your dataset</h3>
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" name="file" id="fileInput" required>
                <button type="submit">Upload</button>
                <button type="button" id="resetButton">Reset</button>
            </form>
            
            <div id="uploadMessage"></div>
            <div id="dataOverview">
                <h2>Data Overview</h2>
                <h3>Visualizations of Missing Values</h3>
                <img id="missingValuesPlot" src="" alt="Missing Values Plot" class="hidden">
                <form id="customizePlotForm">
                    <label for="colorMap">Choose a color map:</label>
                    <select name="colorMap" id="colorMap">
                        <option value="viridis">Viridis</option>
                        <option value="plasma">Plasma</option>
                        <option value="inferno">Inferno</option>
                        <option value="magma">Magma</option>
                        <option value="cividis">Cividis</option>
                    </select>
                    <br>
                    <label for="plotWidth">Plot Width (inches):</label>
                    <input type="number" name="plotWidth" id="plotWidth" value="8" step="0.1">
                    <br>
                    <label for="plotHeight">Plot Height (inches):</label>
                    <input type="number" name="plotHeight" id="plotHeight" value="6" step="0.1">
                    <br>
                    <label for="missingColor">Missing Color:</label>
                    <input type="color" name="missingColor" id="missingColor" value="#000000">
                    <br>
                    <label for="presentColor">Present Color:</label>
                    <input type="color" name="presentColor" id="presentColor" value="#FFFFFF">
                    <br>
                    <button type="submit">Update Plot</button>
                </form>
                <br>
                <a id="downloadPlot" href="#" class="">Download Plot</a>
                <h3>Statistics About Missing Data</h3>
                <div id="missingDataTable"></div>
                <h3>Sample of the DataFrame</h3>
                <div id="sampleData"></div>
                
            </div>
        
            <h2>Handle Missing Values</h2>
            <form id="processForm">
                <label>Choose an option to handle missing values:</label><br>
                <input type="radio" name="choice" value="1" required> Delete rows with missing values<br>
                <input type="radio" name="choice" value="2" required> Delete columns with missing values<br>
                <input type="radio" name="choice" value="3" required> Impute missing values<br>
                <br>
                <div id="imputationMethods" class="hidden">
                    <label>Choose an imputation method:</label><br>
                    <input type="radio" name="impute_choice" value="1"> KNN Imputer<br>
                    <input type="radio" name="impute_choice" value="2"> Mean Imputer<br>
                    <input type="radio" name="impute_choice" value="3"> Mode Imputer<br>
                    <input type="radio" name="impute_choice" value="4"> Most Frequent Imputer<br>
                    <input type="radio" name="impute_choice" value="6"> MICE Imputer<br>
                    <br>
                    <div id="knnNeighbors" class="hidden">
                        <label>Enter the number of neighbors for KNN Imputer (if applicable):</label><br>
                        <input type="text" name="n_neighbors"><br>
                    </div>
                    <div id="miceParams" class="hidden">
                        <label>Enter the number of iterations for MICE Imputer (if applicable):</label><br>
                        <input type="text" name="max_iter"><br>
                    </div>
                </div>
                <br>
                <label>Enter the column names to process (comma separated, or 'all' to process all columns):</label><br>
                <input type="text" name="columns" required><br>
                <br>
                <button type="submit">Submit</button>
            </form>
        
            <div id="messageBox" class="hidden">
                <span id="messageContent"></span>
                <button id="messageButton">Close</button>
            </div>
        
            <div id="saveData" class="hidden">
                <h2>Save Processed Data</h2>
                <form id="saveDecisionForm">
                    <label>Do you want to save the processed data?</label><br>
                    <input type="radio" name="save_decision" value="yes" required> Yes<br>
                    <input type="radio" name="save_decision" value="no" required> No<br>
                    <input type="radio" name="save_decision" value="process_more" required> Process more columns<br>
                    <button type="submit">Submit</button>
                </form>
            </div>
        
            <div id="saveOptions" class="hidden">
                <h2>Choose File Format and Path</h2>
                <form id="saveFormatForm">
                    <label>Choose file format:</label><br>
                    <input type="radio" name="file_format" value="xlsx" required> XLSX<br>
                    <input type="radio" name="file_format" value="csv" required> CSV<br>
                    <input type="radio" name="file_format" value="json" required> JSON<br>
                    <input type="radio" name="file_format" value="parquet" required> Parquet<br>
                    <br>
                    <label>Enter the path where you want to save the file:</label><br>
                    <input type="text" name="save_path" required><br>
                    <label>Enter the filename:</label><br>
                    <input type="text" name="filename" required><br>
                    <button type="submit">Save</button>
                </form>
            </div>
        
            <div id="saveMessage"></div>
            <script>
                document.getElementById('toggleTechniques').addEventListener('click', function() {
                    var additionalTechniques = document.getElementById('additionalTechniques');
                    if (additionalTechniques.style.display === 'none') {
                        additionalTechniques.style.display = 'block';
                        this.textContent = 'Show Fewer Techniques';  // Change button text to be more inviting
                    } else {
                        additionalTechniques.style.display = 'none';
                        this.textContent = 'Discover More Techniques!';  // Change button text back
                    }
                });
                </script>
                <script src="static/MV.js"></script>
</body>
</html>
